﻿@model Sinema.Models.Filmler

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Filmler</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FilmAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FilmAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FilmTürü)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FilmTürü)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FilmSüresi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FilmSüresi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VizyonTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VizyonTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FilmYönetmeni)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FilmYönetmeni)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FilmOyuncuları)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FilmOyuncuları)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VizyondaOlanFilmler)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VizyondaOlanFilmler)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GelecekFilmler)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GelecekFilmler)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Biletler.BiletTipi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Biletler.BiletTipi)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
