﻿@model Sinema.Models.Filmler

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Filmler</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FilmAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FilmAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FilmTürü)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FilmTürü)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FilmSüresi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FilmSüresi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VizyonTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VizyonTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FilmYönetmeni)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FilmYönetmeni)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FilmOyuncuları)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FilmOyuncuları)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VizyondaOlanFilmler)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VizyondaOlanFilmler)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GelecekFilmler)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GelecekFilmler)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Biletler.BiletTipi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Biletler.BiletTipi)
        </dd>

    </dl>

    <table class="table">
        <tr>
            <th>
                Gösterildiği Salon
            </th>
            <th>
                Gösterildiği Sinema Adı
            </th>
            <th>
                İL
            </th>
            <th>
                İLÇE
            </th>
        </tr>
        @foreach (var item in Model.Kayit)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem =>item.GösterimYeri.GösterildiğiSalonNo )
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GösterimYeri.GösterildiğiSinemaAdi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GösterimYeri.İl )
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GösterimYeri.İlçe)
                </td>
            </tr>
        }


    </table>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FilmID }) |
    @Html.ActionLink("GERİ DÖN", "Index")
</p>
