﻿@model IEnumerable<Sinema.Models.Filmler>

@{
    ViewBag.Title = "FİLMLER";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("YENİ FİLM EKLE", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FilmAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FilmTürü)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FilmSüresi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VizyonTarihi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FilmYönetmeni)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FilmOyuncuları)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.VizyondaOlanFilmler)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.GelecekFilmler)
        </th>
      @*  <th>
            @Html.DisplayNameFor(model => model.Biletler.BiletTipi)
        </th>
        <th></th>*@
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FilmAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FilmTürü)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FilmSüresi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VizyonTarihi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FilmYönetmeni)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FilmOyuncuları)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VizyondaOlanFilmler)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GelecekFilmler)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Biletler.BiletTipi)
        </td>
        <td>
            @Html.ActionLink("DÜZENLE", "Edit", new { id=item.FilmID }) |
            @Html.ActionLink("DETAYLAR", "Details", new { id=item.FilmID }) |
            @Html.ActionLink("SİLME", "Delete", new { id=item.FilmID })
        </td>
    </tr>
}

</table>
