﻿
@{
    ViewBag.Title = "ONLİNE BİLET AL";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>BİLETİNİZİ BURDAN ALABİLİRSİNİZ.</p>
<p>ÖDEME ŞEKLİNİ SEÇİN.</p>
@*<li>@Html.ActionLink("BİLET AL", "Index", "Bilet")</li>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Biletler.BiletTipi)
        </th>
        </tr>
    </table>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Biletler.BiletTipi)
            </td>
        </tr>
        }*@
