﻿@{
    ViewBag.Title = "Ana Sayfa";
}

<div class="jumbotron">
    <h1>SİNEMA KEYFİNİZ</h1>
    <p class="lead">MERAK EDİLEN FİLMLERİN HANGİ SEANSTA NERDE OLDUĞUNU ÖĞRENİN.FİLMLER HAKKINDA BİLGİLER EDİNİN.ONLİNE BİLET ALIN.VİZYONDAKİLERİ VE VİZYONA GİRECEKLERİ ÖĞRENİN.</p>
   
</div>

<div class="row">
    <div class="col-md-4">
        <h2>VİZYONDAKİLER </h2>
        <p>
           Şuan sinemalarda hangi filmler var?
        </p>
     
    </div>
    <div class="col-md-4">
        <h2>YAKINDA</h2>
        <p>Önümüzde ki günlerde hangi filmler vizyonda.</p>
       
    </div>
    <div class="col-md-4">
        <h2>ONLİNE BİLET ALIN</h2>
        <p>Kolaylıkla online bilet alabilirsiniz.</p>
    </div>
</div>