/* Bu dosya Uğur Türkmen Tarafından Kodlanmıştır */
.header {
	background-color:#fff;
	border:none;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #e4551d;
  background-color:#fff;

}

.navbar-default .navbar-nav a{
	color:#637f83;
	font-weight:bold;
}

.home {
	background-image: url("../img/bg.jpg");
	background-size:cover;
	box-shadow: 0 1px 1px #000;
	padding-top:125px;
	padding-bottom:120px;
}

.center {
	text-align:center;
	color:#ffffff;
}

.cent {
	text-align:center;
	color:#fff;
	font-size:14px;
}

.up {
	text-align:center;
	color:#637f83;
	font-weight:bold;
}

.inf {
	text-align:center;
	color:#637f83;
}

.jobs {
	background-color:#f6f6f6;
	padding-bottom:30px;
}

.jobs img {
	margin-top:60px;
}

.jobitem {
	border-right:1px solid #d5d5d5;
}

.j {
	font-weight:bold;
	color:#637f83;
	margin-top:30px;
	text-align:center;
}

.jdetail {
	color:#959494;
}

.b {
	background-color:#637f83;
	border:none;
}

.img {
	margin:auto;
	text-align:center
}

.Pup {
	text-align:center;
	color:#637f83;
	font-weight:bold;
	margin-top:20px;
}

.portfolio {
	margin-top:15px;
}

.portfoliobutton {
	margin-top:15px;
	background-color:#e4551d;
	border:none;
}

.footer {
	background-color:#637f83;
	margin-top:15px;
	padding-bottom:30px;
}


.foot{
	text-align:center;
	color:#ffffff;
	font-weight:bold;
	margin-top:20px;
}

.footinf{
	text-align:center;
	color:#ffffff;
	font-weight:bold;
	margin-top:20px;
}

.images {
	float:left;
}

.subs {
	float:left;
	color:white;
	font-weight:bold;
	margin-left:10px;
}

.forms input{
	background-color:#597275;
	border:none;
	color:#fff;
	margin-top:20px;
}

.forms button{
	background-color:#597275;
	border:none;
	color:#fff;
	font-weight:bold;
	margin-top:20px;
}

.twitter {
	background-color:#597275;
	border-radius:5px;
	padding-bottom:15px;
}

.imagest {
	float:left;
	padding:10px;
}

.twit {
	float:left;
	color:#b5c7c9;
	margin-left:20px;
	margin-top:10px;
	width:400px
}

.social {
	padding-bottom:15px;
}

.social span {
	margin-left:10px;
	color:#637f83;
	font-weight:bold;
	font-size:18px;
}

.end {
	background-color:#637f83;
	margin-bottom:-12px;
	padding-top:15px;
	color:#fff;
	text-align:center;
}

.end a {
	color:#fff;
}