﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -SİNEMA KEYFİNİZ</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("SİNEMA KEYF", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <
                    <li>@Html.ActionLink("ANASAYFA", "Index", "Home")</li>
                    <li>@Html.ActionLink("ONLİNE BİLET AL", "About", "Home")</li>
                 @*   <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                    <li>@Html.ActionLink("FİLMLER", "Index", "Filmler")</li>
                    @*<li>@Html.ActionLink("GÖSTERİM YERLERİ", "Index", "Yerler")</li>
                    <li>@Html.ActionLink("SEANSLAR", "Index", "Seans")</li>              
                    <li>@Html.ActionLink("BİLET AL", "Index", "Bilet")</li>*@
                
                
                 </ul>
                <div class="col-md-4 header-right">
                    <ul class="small-links">
                        @Html.Partial("_LoginPartial")
                    </ul>
                    
                </div>
        </div>
    </div>
        </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - SİNEMA KEYFİNİZ</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
