﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
        <li>@Html.ActionLink("ÜYE OL", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("GİRİŞ", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
   
}
@if (HttpContext.Current.Session["Culture"].ToString() == "tr")
{
    <li>@Html.ActionLink("English", "ChangeCulture", "Home", new { Home = "en", returnurl = this.Request.RawUrl }, null)</li>
}
else
{
    <li>@Html.ActionLink("Türkçe", "ChangeCulture", "Home", new { Home = "tr", returnUrl = this.Request.RawUrl }, null)</li>
}
